<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>{% if page.title %}{{ page.title }} &sdot; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="placeholder">
  <link rel="icon" href="{{ "/images/favicon.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon-precomposed" href="{{ "/images/favicon.png" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <!-- <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92157254-1', 'auto');
    ga('send', 'pageview');

  </script> -->
</head>
