<nav class="navbar col-xs-12">
  <div class="navbar-header row">
    <button type="button" data-target="#main-nav" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
      MENU
    </button>
  </div>

  <div id="main-nav" class="waypoints navbar-collapse collapse row">
    <ul class="nav navbar-nav">
      <li><a href="{{ "/" | prepend: site.baseurl }}"><span>GTFS HOME</span><div class="dot"></div></a></li>
      <li><a href="{{ "/getting-started" | prepend: site.baseurl }}">GETTING STARTED<div class="dot"></div></a></li>
      <li><a href="{{ "/reference" | prepend: site.baseurl }}">SPEC REFERENCE<div class="dot"></div></a></li>
      <li><a href="{{ "/best-practices" | prepend: site.baseurl }}">BEST PRACTICES<div class="dot"></div></a></li>
      <li><a href="{{ "/examples" | prepend: site.baseurl }}">EXAMPLES<div class="dot"></div></a></li>
      <li><a href="{{ "/testing" | prepend: site.baseurl }}">TESTING FEEDS<div class="dot"></div></a></li>
    </ul>
  </div>
</nav>
