<nav class="navbar col-xs-12">
  <div class="navbar-header row">
    <button type="button" data-target="#main-nav" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
      MENU
    </button>
  </div>

  <div id="main-nav" class="waypoints navbar-collapse collapse">
    <ul class="nav navbar-nav">

      <li><a href="{% translate_link home %}"><span>{% translate page_names.home %}</span><div class="dot"></div></a></li>
      <li><a href="{% translate_link getting-started %}">{% translate page_names.getting-started %}<div class="dot"></div></a></li>
      <li><a href="{{ "/reference" | prepend: site.baseurl }}">SPEC REFERENCE<div class="dot"></div></a></li>
      <li><a href="{{ "/best-practices" | prepend: site.baseurl }}">BEST PRACTICES<div class="dot"></div></a></li>
      <li><a href="{{ "/examples" | prepend: site.baseurl }}">EXAMPLES<div class="dot"></div></a></li>
      <li><a href="{{ "/testing" | prepend: site.baseurl }}">TESTING FEEDS<div class="dot"></div></a></li>
    </ul>
  </div>
</nav>
