#best-practices {

  .sidenav {
    background-color: #f5f5f5;
    font-size: 10pt;
    padding: 10px 0;

      .list-group-item {
        background-color: transparent;
        border: none;
        padding: 5px 15px;
      }

      a {
        color: #222;
        border: none;

        &:hover {
          text-decoration: none;
          color: $color-blue-deep;
          background-color: transparent;
        }

        &:focus {
          text-decoration: none;
        }
      }

      li {
        list-style: none;
        margin: 0 0 0 10px;
        padding: 2px 0;
        text-indent: -10px;
      }
  }

  figure {
    margin: 10px 0;
    padding: 5px 0;
    border-top: 2px solid $color-yellow-bright;
    border-bottom: 2px solid $color-yellow-bright;

    figcaption {
      text-align: center;
      margin: 10px 0;
      font-style: italic;

      ul {
        display: inline-block;
      }

    }

    img, svg {
      display: block;
      margin: 0 auto;
      max-width: 50%;
    }

  }

  // page title "GTFS Data Best Practices"
  h1 {
    color: #666;
    border: none;
  }

  // section headline
  h2 {
    color: #666;
    border-bottom: 1px solid #ccc;
    margin: 40px 0 20px 0;
  }

  //subsection headline
  h3 {
    margin: 20px 0 10px 0;
  }

  // GTFS field headline
  h4 {
    font-family: "Source Code Pro";
    margin-top: 20px;
    font-weight: bold;
  }

  // system tags (Trip Planners, Human Readability, etc)

  .tag {
    -webkit-padding-start: 0;
    white-space: nowrap;
    display: inline-block;
    margin: 0.2em 0.1em;
    padding: 0 0.5em 0.15em;
    @include small-caps;
    @include meta;
    background-color: #ececec;

    a {padding: 0.15em 0;}

    a, a:hover, a:visited, a:active {
      background-color: inherit;
      border: none;
      text-decoration: none;
    }

    &:hover {
      background-color: $color-red-deep;
      color: white;
      text-decoration: none;
    }

    &:active {
      color: white;
      background-color: black;
      text-decoration: none;
    }

    &:before {content: none;}
  }

  .tag.trip-planners::before {
    content: "Trip Planners";
  }

  .tag.arrival-predictions::before {
    content: "Arrival Predictions";
  }

  .tag.timetables::before {
    content: "Timetables";
  }

  .tag.human-readability::before {
    content: "Human Readability";
  }

  ul > li {
    margin: 5px 0 10px 0;
  }

  // quotes from GTFS Specification
  q {
    display: block;
    padding: 10px 20px;
    font-style: italic;
    line-height: 2.0;
    background-color: #e1f5fe;
    color: #333;
    margin: 10px 0;
  }

  q:before,
    q:after {
      content: "";
  }

  #rmi-logo {
    width: 25%;
  }

}

// imported from Bootstrap and applied to all tables

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  table {
    background-color: $body-bg;
  }

  // .table-striped functionality
  > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  // customer thead color
  > thead > tr {
    background-color: #999;
    color: #fff;
  }

  > thead > tr > th {
    font-weight: normal;
  }

}

table.example {

  border: 1px solid $color-yellow-light;

  margin-top: 10px;

  > thead > tr {
    background: $color-yellow-deep;
  }

  > tbody > tr:nth-of-type(odd) {
    background-color: $color-yellow-light;
  }

  // > thead > tr > th, > tbody > tr > td {
  //   text-align: center;
  // }

}

table.recommendation {

  > thead > tr {
    background-color: $color-green-deep;
  }

  > tbody > tr {
    background-color: white;
    border-bottom: 1px solid #eee;
  }

  > tbody > tr:nth-of-type(odd) {

  }

  .field-row {
    border-top: 2px solid $color-green-deep;
  }

}
