footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #999;
  background-color: #3d3d3d;
  color: #ececec;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

footer .container {
  padding: 20px 0;
  margin: 0 auto;
}
