html {
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
  padding-bottom: 60px;
  min-height: 100%;
  position: relative;
  font-family: $font-sans;
  line-height: 1.3em;
  @include copy;
}

.page {
  padding: 125px 0px;
}

.page-content {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1400px;
}

code {
  color: #333;
  background-color: transparent;
  font-family: "Source Code Pro";
  font-weight: bold;
}

h1 {
  padding-bottom: 5px;
  border-bottom: 2px solid $color-green;
}

p {
  // margin: 10px 0;
  line-height: 1.3em;
}

li {
  margin: 5px 0;
}

img, svg {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

//homepage-only styles

#homepage {

  #gtfs-overview {
    background-color: $nav-color;
    color: white;
    margin-bottom: 0;
    padding-bottom: 50px;

    h1 {
      border: none;
    }

    a {
      color: white;
      border-bottom: 2px solid white;

      &:hover {
        background-color: white;
        color: $nav-color;
        text-decoration: none;
      }
    }

  }

  #how-do-i-start {
    padding-bottom: 125px;
  }
}

// sitewide links

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
  padding: 0 0.07em;
  margin: 0 -0.05em;
}

a {
  border-bottom: 2px solid $color-green;
}

a:visited {
  border-color: $color-green;
}

a:hover {
  background-color: $color-green;
  border-color: $color-green;
}

a:active {
  border-color: $color-green;
  background-color: $color-green;
  text-decoration: none;
  position: relative;
  top: 1px;
  right: -1px;
}

a:focus {
  text-decoration: none;
}

// blockquotes (so far, unused)

blockquote {
  margin: 0;
  margin-left: 1px;
  padding: 0;
  margin-bottom: $copy-line;
  font-size: initial;
  border-color: $color-green;

  figcaption {
    text-align: right;
    font-size: initial;
  }

  figure {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
    font-style: italic;
  }
}
