<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class="page">
      <div id="best-practices" class="page-content clearfix">
        <div class="col-md-3 col-xs-12">
          <ul class="list-group sidenav">
            <li class="list-group-item"><a href="{{ "/best-practices/" | prepend: site.baseurl }}">Introduction</a></li>
            <li class="list-group-item"><a href="{{ "/best-practices/publishing/" | prepend: site.baseurl }}">Dataset Publishing & General Practices</a></li>
            <li class="list-group-item">Recommendations Organized by File</li>
            <ul>
              <li><a href="{{ "/best-practices/all-files/" | prepend: site.baseurl }}">All Files</a></li>
              <li><a href="{{ "/best-practices/agency/" | prepend: site.baseurl }}">agency.txt</a></li>
              <li><a href="{{ "/best-practices/feed-info/" | prepend: site.baseurl }}">feed_info.txt</a></li>
              <li><a href="{{ "/best-practices/stops/" | prepend: site.baseurl }}">stops.txt</a></li>
              <li><a href="{{ "/best-practices/stop-times/" | prepend: site.baseurl }}">stop_times.txt</a></li>
              <li><a href="{{ "/best-practices/transfers/" | prepend: site.baseurl }}">transfers.txt</a></li>
              <li><a href="{{ "/best-practices/trips/" | prepend: site.baseurl }}">trips.txt</a></li>
              <li><a href="{{ "/best-practices/frequencies/" | prepend: site.baseurl }}">frequencies.txt</a></li>
              <li><a href="{{ "/best-practices/routes/" | prepend: site.baseurl }}">routes.txt</a></li>
              <li><a href="{{ "/best-practices/shapes/" | prepend: site.baseurl }}">shapes.txt</a></li>
              <li><a href="{{ "/best-practices/calendar/" | prepend: site.baseurl }}">calendar.txt</a></li>
              <li><a href="{{ "/best-practices/calendar-dates/" | prepend: site.baseurl }}">calendar_dates.txt</a></li>
              <li><a href="{{ "/best-practices/fare-rules/" | prepend: site.baseurl }}">fare_rules.txt</a></li>
              <li><a href="{{ "/best-practices/fare-attributes/" | prepend: site.baseurl }}">fare_attributes.txt</a></li>
            </ul>
            <li class="list-group-item">Recommendations Organized by Case</li>
            <ul>
              <li><a href="{{ "/best-practices/loop-routes/" | prepend: site.baseurl }}">Loop Routes</a></li>
              <li><a href="{{ "/best-practices/lasso-routes/" | prepend: site.baseurl }}">Lasso Routes</a></li>
              <li><a href="{{ "/best-practices/branches/" | prepend: site.baseurl }}">Branches</a></li>
            </ul>
            <li class="list-group-item"><a href="#about">About This Document</a></li></li>
            <ul>
              <li><a href="#objectives">Objectives</a></li>
              <li><a href="#linking">Linking to this Document</a></li>
              <li><a href="#amend">How to Propose or Amend Published GTFS Best Practices</a></li>
            </ul>
            <li class="list-group-item"><a href="#working-group">GTFS Best Practices Working Group</a></li>
          </ul>
        </div>
        <div class="col-lg-8 col-md-9 col-xs-12">
          {{ content }}
        </div>
      </div>
    </section> <!-- page -->
    {% include footer.html %}
  </body>
</html>
