<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class="page">
      <div id="best-practices" class="page-content clearfix">
        <div class="col-md-3 col-xs-12">
          <ul class="list-group sidenav">
            <li class="list-group-item"><a href="#introduction">Introduction</a></li>
            <li class="list-group-item"><a href="#publishing">Dataset Publishing & General Practices</a></li>
            <li class="list-group-item"><a href="#by-file">Recommendations Organized by File</a></li>
            <ul>
              <li><a href="#all-files">All Files</a></li>
              <li><a href="#agency">agency.txt</a></li>
              <li><a href="#feed-info">feed_info.txt</a></li>
              <li><a href="#stops">stops.txt</a></li>
              <li><a href="#stop-times">stop_times.txt</a></li>
              <li><a href="#transfers">transfers.txt</a></li>
              <li><a href="#trips">trips.txt</a></li>
              <li><a href="#frequencies">frequencies.txt</a></li>
              <li><a href="#routes">routes.txt</a></li>
              <li><a href="#shapes">shapes.txt</a></li>
              <li><a href="#calendar">calendar.txt and calendar_dates.txt</a></li>
              <li><a href="#fare-rules">fare_rules.txt and fare_attributes.txt</a></li>
            </ul>
            <li class="list-group-item"><a href="#by-case">Recommendations Organized by Case</a></li>
            <ul>
              <li><a href="#loop-routes">Loop Routes</a></li>
              <li><a href="#lasso-routes">Lasso Routes</a></li>
              <li><a href="#branches">Branches</a></li>
            </ul>
            <li class="list-group-item"><a href="#about">About This Document</a></li></li>
            <ul>
              <li><a href="#objectives">Objectives</a></li>
              <li><a href="#linking">Linking to this Document</a></li>
              <li><a href="#amend">How to Propose or Amend Published GTFS Best Practices</a></li>
            </ul>
            <li class="list-group-item"><a href="#working-group">GTFS Best Practices Working Group</a></li>
          </ul>
        </div>
        <div class="col-lg-8 col-md-9 col-xs-12">
          {{ content }}
        </div>
      </div>
    </section> <!-- page -->
    {% include footer.html %}
  </body>
</html>
