<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class="page">
      <div id="reference" class="documents page-content clearfix">
        <div class="col-md-3 col-xs-12">
          <ul class="list-group sidenav">
            <li class="list-group-item"><a href="{{ "/reference/#term-definitions" | prepend: site.baseurl }}">Term Definitions</a></li>
            <li class="list-group-item"><a href="{{ "/reference/#feed-files" | prepend: site.baseurl }}">Feed Files</a></li>
            <li class="list-group-item"><a href="{{ "/reference/#file-requirements" | prepend: site.baseurl }}">File Requirements</a></li>
            <li class="list-group-item">Field Definitions</li>
            <ul>
              <li><a href="{{ "/reference/#agencytxt" | prepend: site.baseurl }}">agency.txt</a></li>
              <li><a href="{{ "/reference/#feed_infotxt" | prepend: site.baseurl }}">feed_info.txt</a></li>
              <li><a href="{{ "/reference/#stopstxt" | prepend: site.baseurl }}">stops.txt</a></li>
              <li><a href="{{ "/reference/#stop_timestxt" | prepend: site.baseurl }}">stop_times.txt</a></li>
              <li><a href="{{ "/reference/#transferstxt" | prepend: site.baseurl }}">transfers.txt</a></li>
              <li><a href="{{ "/reference/#tripstxt" | prepend: site.baseurl }}">trips.txt</a></li>
              <li><a href="{{ "/reference/#frequenciestxt" | prepend: site.baseurl }}">frequencies.txt</a></li>
              <li><a href="{{ "/reference/#routestxt" | prepend: site.baseurl }}">routes.txt</a></li>
              <li><a href="{{ "/reference/#shapestxt" | prepend: site.baseurl }}">shapes.txt</a></li>
              <li><a href="{{ "/reference/#calendartxt" | prepend: site.baseurl }}">calendar.txt</a></li>
              <li><a href="{{ "/reference/#calendar_datestxt" | prepend: site.baseurl }}">calendar_dates.txt</a></li>
              <li><a href="{{ "/reference/#fare_rulestxt" | prepend: site.baseurl }}">fare_rules.txt</a></li>
              <li><a href="{{ "/reference/#fare_attributestxt" | prepend: site.baseurl }}">fare_attributes.txt</a></li>
            </ul>
          </ul>
        </div>
        <div class="col-lg-8 col-md-9 col-xs-12">
          {{ content }}
        </div>
      </div>
    </section> <!-- page -->
    {% include footer.html %}
  </body>
</html>
