<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class="page">
      <div id="reference" class="documents page-content clearfix">
        <div class="col-md-3 col-xs-12">
          <ul class="list-group sidenav">
            <li class="list-group-item"><a href="{{ "/reference/" | prepend: site.baseurl }}">Terms and Requirements</a></li>
            <li class="list-group-item">Field Definitions</li>
            <ul>
              <li><a href="{{ "/reference/agency/" | prepend: site.baseurl }}">agency.txt</a></li>
              <li><a href="{{ "/reference/feed-info/" | prepend: site.baseurl }}">feed_info.txt</a></li>
              <li><a href="{{ "/reference/stops/" | prepend: site.baseurl }}">stops.txt</a></li>
              <li><a href="{{ "/reference/stop-times/" | prepend: site.baseurl }}">stop_times.txt</a></li>
              <li><a href="{{ "/reference/transfers/" | prepend: site.baseurl }}">transfers.txt</a></li>
              <li><a href="{{ "/reference/trips/" | prepend: site.baseurl }}">trips.txt</a></li>
              <li><a href="{{ "/reference/frequencies/" | prepend: site.baseurl }}">frequencies.txt</a></li>
              <li><a href="{{ "/reference/routes/" | prepend: site.baseurl }}">routes.txt</a></li>
              <li><a href="{{ "/reference/shapes/" | prepend: site.baseurl }}">shapes.txt</a></li>
              <li><a href="{{ "/reference/calendar/" | prepend: site.baseurl }}">calendar.txt</a></li>
              <li><a href="{{ "/reference/calendar-dates/" | prepend: site.baseurl }}">calendar_dates.txt</a></li>
              <li><a href="{{ "/reference/fare-rules/" | prepend: site.baseurl }}">fare_rules.txt</a></li>
              <li><a href="{{ "/reference/fare-attributes/" | prepend: site.baseurl }}">fare_attributes.txt</a></li>
            </ul>
          </ul>
        </div>
        <div class="col-lg-8 col-md-9 col-xs-12">
          {{ content }}
        </div>
      </div>
    </section> <!-- page -->
    {% include footer.html %}
  </body>
</html>
